/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black; /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección de inicio */
.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titulo {
    font-size: 80px;
    color: gold;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow; /* Efecto de brillo neón */
    animation: parpadeo 1.5s infinite alternate; /* Efecto de parpadeo */
}

@keyframes parpadeo {
    0% { opacity: 1; }
    100% { opacity: 0.7
